h1 {
    background-color: greenyellow;
    color: white;
    padding: 16px;
    font-family: "American Typewriter", serif;
}
#heading-number-5 {
    background-color: blueviolet;
    color: white;
    padding: 16px;
    font-family: "American Typewriter", serif;
}