body {
    margin: 0;
}

header {
    height: 128px;
    width: 1440px;
    background-color: #b51e0d;
}

main {
    height: 668px;
    width: 1440px;
    background-color: #146e10;
}

footer {
    height: 210px;
    width: 1440px;
    background-color: #0000FF;
}
